@font-face {
    font-family: HelveticaNowDisplay;
    src: url(/fonts/HelveticaNowDisplay-Bold.woff2);
    font-weight: bold;
}

@font-face {
    font-family: HelveticaNowDisplay;
    src: url(/fonts/HelveticaNowDisplay-Light.woff2);
    font-weight: 300;
}

@font-face {
    font-family: HelveticaNowDisplay;
    src: url(/fonts/HelveticaNowDisplay-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: HelveticaNowDisplay;
    src: url(/fonts/HelveticaNowDisplay-Medium.woff2);
    font-weight: 500;
}

@font-face {
    font-family: HelveticaNowDisplay;
    src: url(/fonts/HelveticaNowDisplay-ExtraBold.woff2);
    font-weight: 800;
}

@font-face {
    font-family: Lato;
    src: url(/fonts/Lato-Regular.woff2);
    font-weight: 400;
}

@keyframes rotate {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html, body {
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: #111111;
    margin: 0;
    overflow-x: hidden;
}

/* canvas {
    position: static;
    float: left;
    clear: both;
    width: 100%;
    z-index: 0;
} */

.grid {
    background-color: #11111170;
    /* backdrop-filter: blur(16px); */
    display: grid;
    grid-template-columns: repeat(4, 25%);
    max-width: 1600px;
    width: 75vw;
    margin: 0 auto;
}

.grid div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.50);
    width: 100%;
    height: 100%;
    text-align: center;
}

.opento {
    font-family: Lato, sans-serif;
    display: inline-block;
    position: relative;
    color: black;
    background-color: white;
    padding: 0.2em 1em 0.2em 2.5em;
    border-radius: 16px;
}

.dot {
    position: absolute;
    background-color: #00ff00;
    height: 12px;
    width: 12px;
    border-radius: 16px;
    left: 1em;
    top: 25%;

}

.menuwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {


    --s: 32px;
    /* control the size */
    --c: white;
    /* the color */

    height: var(--s);
    aspect-ratio: 1;
    border: none;
    padding: 0;
    border-inline: calc(var(--s)/2) solid #0000;
    box-sizing: content-box;
    --_g1: linear-gradient(var(--c) 20%, #0000 0 80%, var(--c) 0) no-repeat content-box border-box;
    --_g2: radial-gradient(circle closest-side at 50% 12.5%, var(--c) 95%, #0000) repeat-y content-box border-box;
    background:
        var(--_g2) left var(--_p, 0px) top,
        var(--_g1) left calc(var(--s)/10 + var(--_p, 0px)) top,
        var(--_g2) right var(--_p, 0px) top,
        var(--_g1) right calc(var(--s)/10 + var(--_p, 0px)) top;
    background-size:
        20% 80%,
        40% 100%;
    position: relative;
    clip-path: inset(0 25%);
    -webkit-mask: linear-gradient(90deg, #0000, #000 25% 75%, #0000);
    cursor: pointer;
    transition:
        background-position .3s var(--_s, .3s),
        clip-path 0s var(--_s, .6s);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    vertical-align: middle;
}

.menu:before,
.menu:after {
    content: "";
    position: absolute;
    border-radius: var(--s);
    inset: 40% 0;
    background: var(--c);
    transition: transform .3s calc(.3s - var(--_s, .3s));
}

.menu:checked {
    clip-path: inset(0);
    --_p: calc(-1*var(--s));
    --_s: 0s;
}

.menu:checked:before {
    transform: rotate(45deg);
}

.menu:checked:after {
    transform: rotate(-45deg);
}

.menu:focus-visible {
    clip-path: none;
    -webkit-mask: none;
    border: none;
    outline: 2px solid var(--c);
    outline-offset: 5px;
}



.category {
    text-align: center;
    color: white;
    /* background-color: #11111170; */
    /* backdrop-filter: blur(16px); */
    display: grid;
    width: 25%;
    margin: 5em 0 0 0;
}

main {
    /* backdrop-filter: blur(16px); */
    display: grid;
    /* grid-template-columns: repeat(4, 25%); */
    /* width: 80vw; */
    margin: 0 auto;
}

.Logo {
    padding-top: 2em;
    padding-bottom: 1.6em;
}

.gridhero {
    position: relative;

    box-sizing: content-box;
    background-color: #11111170;
    border: 1px solid rgba(255, 255, 255, 0.50);
    /* backdrop-filter: blur(16px); */
    display: grid;
    grid-template-columns: repeat(4, 25%);
    max-width: 1600px;
    width: 75vw;
    margin: 6em auto;
}

.gridhero div {
    text-align: center;
    color: white;
    box-sizing: border-box;
}

.gridhero div:nth-child(1) {
    grid-column: 1 / 5;
    margin: 2em;

}

.gridhero div:nth-child(2) {
    grid-column: 1 / 3;
    border: 1px solid rgba(255, 255, 255, 0.50);
    width: 100%;
    height: 100%;
    padding: 1em;
}

.gridhero div:nth-child(3) {
    grid-column: 3 / 5;
    border: 1px solid rgba(255, 255, 255, 0.50);
    width: 100%;
    height: 100%;
    padding: 1em;
}

.gridhero button:nth-child(1) {
    border: 1px solid rgba(255, 255, 255, 0.50);
    background: linear-gradient(188deg, rgba(83, 83, 83, 0.40) 6.09%, rgba(191, 191, 191, 0.40) 39.9%, rgba(255, 255, 255, 0.40) 93.91%);
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 39.06px;
    padding: .5em;
    border-radius: 2em;
}

.gridhero button>img {
    margin-left: .5em;
    width: 48px;
    height: auto;
    vertical-align: middle;
}

.gridhero h1 {
    font-family: HelveticaNowDisplay;
    font-weight: bold;
    font-style: normal;
    font-size: 76.3px;
    line-height: 110%;
    margin-bottom: 0.5em;
}

.gridhero h2 {
    margin-top: 0;
    font-family: HelveticaNowDisplay;
    font-weight: 300;
    font-style: normal;
    font-size: 39.06px;
    line-height: 120%;
}

.gridhero img {
    vertical-align: middle;
    width: 72px;
}

#amsterdam-time {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    font-family: Lato;
}

.gradient {
    font-size: 76.3px;
    background: -webkit-radial-gradient(#d4fc79, #96e6a1);
    width: 100%;
    height: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rotate {
    animation-name: rotate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.bedrijven {
    width: 75vw;
    max-width: 1600px;
    margin: 6em auto;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    color: white;
    box-sizing: border-box;
    padding-bottom: 6em;
    margin-bottom: 0;
}

div.marquee {
    width: 100vw;
    height: 125px;
    max-width: 100%;
    overflow-x: hidden;
    border-top: 1px solid rgba(255, 255, 255, 0.50);
    border-bottom: 1px solid rgba(255, 255, 255, 0.50);
    vertical-align: middle;
    position: relative;

}

.marqueewrapper {
    height: 100%;
    vertical-align: middle;
}

.marqueewrapper div.marquee>p {
    font-size: 39.06px;
    font-family: HelveticaNowDisplay;
    font-weight: 300;
    color: white;

    vertical-align: middle;
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 32s linear infinite;
}

.marqueewrapper div>p>img {
    padding-left: 1em;
    padding-right: 1em;
    vertical-align: baseline;
    height: 32px;
}

.project {
    grid-column: 1 / 3;
    border: 1px solid rgba(255, 255, 255, 0.50);

}

.project span, .servicewrapper span {
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.project h3, .servicewrapper h3 {
    font-size: 39.06px;
    font-family: HelveticaNowDisplay, sans-serif;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0;
}

.projectwrapper {
    position: relative;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.50);
    background: linear-gradient(188deg, rgb(49, 49, 49) 6.09%, rgb(73, 73, 73) 39.9%, rgb(56, 56, 56) 93.91%);
    margin: 2em;
    padding: 2em;
    transition: 2s ease;
}


.projectwrapper:hover li {
    color: white;
}

.projectwrapper:hover, .servicewrapper:hover {
    transition: .5s ease;
    background: linear-gradient(to top, #cbd3cb 0%, #c9c9c9 100%);
    color: #111111;
    filter: unset !important;
    mix-blend-mode: unset !important;
}

.gificon {
    background-color: white;
    filter: invert(1);
    mix-blend-mode: screen;
    width: 48px;
    position: absolute;
    right: 2em;
    top: 2em;
    transition: .5s ease;
    padding: .5em;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;

}

.gificon:hover {
    width: 64px;
}

.servicewrapper:hover .gificon {
    width: 64px;

    transition: .3s ease;
    filter: invert(0);
    mix-blend-mode: multiply;

}

div.procesbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1;
    grid-column: 4/5;
    border-bottom: 1px solid rgba(255, 255, 255, 0.50);
}

div.procesbtn a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
    font-family: HelveticaNowDisplay, sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}

div.procesbtn a:hover {
    transition: .5s;

    background: linear-gradient(to top, #cbd3cb 0%, #c9c9c9 100%);
    color: black;
    font-weight: 500;
    cursor: pointer;
}

div.procesbtn a:hover img {
    transition: .5s;
    filter: invert(1);
}


div.procesbtn img {
    vertical-align: top;
    height: 32px;
    width: auto;
}

.rotated {
    rotate: 180deg;
}

ul {
    margin-bottom: 0px;
    padding-left: 0;
    list-style: none;
    list-style-type: none;
}

li {
    font-family: Lato, sans-serif;
    font-weight: 400;
    display: inline-block;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 16px;
    background-color: #111111;
}

.titleproject {
    grid-column: 2 / 4;
    border: 1px solid rgba(255, 255, 255, 0.50);
}

.titleproject h2 {
    text-align: center;
    color: white;
    font-size: 39.06px;
    font-family: HelveticaNowDisplay;
    font-weight: 400;
}

/* .projectpreview {
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.50);
    background: linear-gradient(188deg, rgba(83, 83, 83, 0.40) 6.09%, rgba(191, 191, 191, 0.40) 39.9%, rgba(255, 255, 255, 0.40) 93.91%);
    margin: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    display: flex;
    flex-grow: 1; 
} */

.outline {
    grid-column: 3/5;
    border: 1px solid rgba(255, 255, 255, 0.50);
    box-sizing: border-box;
    display: flex;
}

.emptystateicon {
    width: 128px;
    height: 100%;
    margin: 0 auto;
}

.work {
    background-color: rgba(0, 0, 0, 0.75);
    /* backdrop-filter: blur(16px); */

}

.categorywrapper {
    position: relative;
    box-sizing: border-box;
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.50);
    background: rgba(83, 83, 83, 0.20);

    grid-column: 1/2;
    grid-row: 1;
    align-items: center;
    justify-content: center;
}

.categorywrapper h2 {
    color: white;
    font-family: HelveticaNowDisplay, sans-serif;
    font-weight: 300;
    text-align: center;
    align-self: center;
}

.plusbutton {
    position: absolute;
    right: 1em;
    top: 2.2em;
}

.services {
    color: white;
    display: grid;
    position: relative;

    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.50);
    /* backdrop-filter: blur(16px); */
    background-color: rgba(0, 0, 0, 0.75);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1600px;
    width: 75vw;
    height: max-content;
    margin: auto;

    flex: none;
    scroll-snap-align: center;
    /* Ensure smooth snapping between sections */

}

.service {
    position: relative;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    grid-column: 1/5;
    row-gap: 4em;
    column-gap: 4em;
    padding: 2em;
    width: 100%;
    margin: auto;
}

.servicewrapper {
    flex-grow: 1;

    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.50);
    background: linear-gradient(188deg, rgb(49, 49, 49) 6.09%, rgb(73, 73, 73) 39.9%, rgb(56, 56, 56) 93.91%);
    /* margin: 2em; */
    padding: 2em;
    height: 350px;
    width: 100%;
    transform-origin: center;
}



span.linever {
    display: flex;
    justify-self: center;
    box-sizing: border-box;
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.50);
}

span.linehor {
    display: flex;
    align-self: center;
    justify-self: center;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.50);
}

.servicewrapper h3 {
    width: 75%;
}

.servicewrapper p {
    position: absolute;
    font-family: Lato, sans-serif;
    font-size: 16px;
    line-height: 130%;
    align-items: end;
    vertical-align: bottom;
    max-width: 400px;
    width: 80%;
    bottom: 1em;
}

.servicewrapper:nth-child(1), .servicewrapper:nth-child(3) {
    grid-column: 1/3;
}

.servicewrapper:nth-child(2), .servicewrapper:nth-child(4) {
    grid-column: 3/5;
}

.sidescroll {
    position: relative;
    box-sizing: border-box;
    margin: 6em auto;
    margin-left: -8px;
    overflow-x: scroll;
    scrollbar-width: none;
    /* For Firefox */
    /* Enable horizontal scrolling */
    scroll-snap-type: x mandatory;
    /* Snap scrolling behavior */
    width: 100vw;
    /* Full viewport width */
    height: 100%;
    /* Full viewport height */
    scroll-behavior: smooth;
    /* Smooth scrolling */
}

.sidescroll::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Edge */
}

.sidescrollsection {
    display: flex;
    /* Flexbox layout for horizontal alignment */
    flex-direction: row;
    /* Make sections align horizontally */
    width: 200vw;
    /* Each section will take up full screen width */
    height: 100%;
    /* Full height for the sections */
    margin: auto;
}

.sidearrow {
    position: absolute;
    top: 50%;
    right: 1%;
    width: 128px;
    rotate: 90deg;
    opacity: 40%;
    transition: 1s ease;
}

.sidearrow:hover {
    opacity: 80%;
    transition: .5s ease;
    cursor: pointer;
}

section.studiouba {
    width: 75vw;
    max-width: 1600px;
    margin: auto;
    color: white;
    font-family: HelveticaNowDisplay, sans-serif;
    font-weight: 800;
    box-sizing: border-box;
    padding-top: 2em;
    padding-bottom: 2em;
}

section.studiouba div.uba>span {
    font-size: 8vw;
    letter-spacing: .02em;
    padding-left: 32px;
    padding-right: 32px;
}

section.studiouba div.uba {
    background-color: rgba(0, 0, 0, 0.75);
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.50);

}

section.studiouba p {
    font-family: HelveticaNowDisplay;
    font-weight: 400;
    font-size: 32.06px;
    margin: 0;
    padding: 32px;
    border: 1px solid rgba(255, 255, 255, 0.50);

}

span.logotext {
    font-size: 32.06px;
    font-weight: 800;
}

div.logotitle {
    background-color: rgba(0, 0, 0, 0.75);
    display: inline-block;
    margin: 0 auto;
}

div.mockups {
    border-bottom: 1px solid rgba(255, 255, 255, 0.50);
    border-top: 1px solid rgba(255, 255, 255, 0.50);

    background-color: rgba(0, 0, 0, 0.75);
    width: 100vw;
    max-height: 400px;
    box-sizing: border-box;

    position: relative;
    overflow: hidden;
    margin: auto;
}

div.mockup-track {
    display: flex;
    animation: marquee 64s linear infinite;
    width: calc(400px * 18);
}

div.mockups img {
    width: 400px;
    max-width: 50%;
    padding: 2em;
    border-radius: 48px;
}

section.form {
    box-sizing: border-box;
    position: relative;
    background-color: rgba(0, 0, 0, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.50);
    color: white;
    width: 75vw;
    margin: 2em auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 1/5;
}

section.form h3 {
    padding-bottom: .5em;
    font-family: HelveticaNowDisplay, sans-serif;
    font-size: 25px;
    text-align: left;

    margin: 0;
    flex-basis: 100%;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.50); */

}

.selectservice-form {
    background: linear-gradient(188deg, rgb(49, 49, 49) 6.09%, rgb(73, 73, 73) 39.9%, rgb(56, 56, 56) 93.91%);
    border: 1px solid rgba(255, 255, 255, 0.50);
    border-radius: 16px;
    padding: 2em;
    grid-column: 1/5;

    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.selectservice-form label {
    font-family: HelveticaNowDisplay, sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.selectservice-form input {
    height: 32px;
    width: 32px;
}

form.service-form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 2em;
    grid-column: 1/4;
    grid-row: 2;
    box-sizing: border-box;
}

div.form-group {
    display: flex;
    flex-direction: row;
    gap: .5em;
    align-items: center;
    flex-basis: 50%;
}

section.form .categorywrapper {
    grid-column: 1/2;
    grid-row: 1;
}

.forminfo {
    background: linear-gradient(188deg, rgb(49, 49, 49) 6.09%, rgb(73, 73, 73) 39.9%, rgb(56, 56, 56) 93.91%);
    border: 1px solid rgba(255, 255, 255, 0.50);
    border-radius: 16px;
    padding: 2em;
    grid-column: 1/5;

    display: grid;
    width: 100%;
}

/* .forminfo>div {
    display: inline-flex;
    flex-direction: column;
    flex-basis: 50%;

} */

.forminfo>div:nth-child(odd) {
    width: 50%;
    
}

.forminfo>div:nth-child(even) {

}